.localBtn:hover {
    background-color: rgb(127, 215, 226);
    color: black;
    border: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }

 .assessCard{
    height:100%;
    width:100%;
    margin:5%

 }
 .card-img {
     height:100%;
width: 100%;
  
}